*{
    font-family: 'Space Mono', monospace !important;
    font-weight: bold;
    
}
body{
    background-color: hsl(185, 41%, 84%) !important;
}
form{
    display: flex;
    justify-content: center;
}
.background-style{
    background-color:  hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 36px -22px #000000;
}
body input {
    font-size:24px;
    border-radius: 5px;
    color:hsl(183, 100%, 15%);
    font-family: 'Space Mono', monospace;
}
.logo{
    display:block;
    margin: 100px auto;
}

/*START OF LEFT*/

input[type=number]
{
    text-align: right;
    width: 100%;
    border:none;
    background-color: hsl(189, 41%, 97%);
    height: 40px;

}
input[type=number]:focus
{
    border: 2px solid hsl(172, 67%, 45%)!important ;
    border-radius:5px;
    outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    
}
.section_input{
    margin-bottom: 10px;
}
input[type=button]
{
    background-color: hsl(183, 100%, 15%);
    text-align: center;
    color: white;
    width: 100px;
    border:none; 
}
input[type=button]:hover
{
    background-color:  hsl(185, 41%, 84%) ;
    color: hsl(183, 100%, 15%);
}
#custom{
    background-color: hsl(185, 41%, 84%);
    color: hsl(184, 14%, 56%);
    width: 100px;
    border:none;
    text-align: center;
}
#custom:focus
{
    color:hsl(183, 100%, 15%)!important;
    background-color: hsl(0, 0%, 100%);
    text-align: right;
}
.input{
    display: block;
    float: left;
    width: auto;
}
#row-button{
    margin-top: 10px;
}

.left{
    padding-right: 0px !important; 
    padding-left: 0px !important;
}
.container{
    padding-left: 0!important;
}

.left label{
    display: block;
}
.btn-pick{
    margin: 30px 0px;
}

/*END OF LEFT*/

/* RIGHT */

.result{
    background-color: hsl(183, 100%, 15%);
    padding: 30px;
    margin-left: 40px;
    border-radius:3%;
    width:350px !important;
    display: inline-block;
    height:21em;
}
.result h2{
    color: white;
    font-size: 1em;
}
.result h3{
    color:  hsl(184, 14%, 56%);
    font-size: 0.8em;
}
.result p{
    font-size:35px !important;
    font-weight: bold;
    color: hsl(172, 67%, 45%);
}
.result button{
   background-color: hsl(172, 67%, 45%);
   color:hsl(183, 100%, 15%);
   font-size: 24px;
   font-weight: bold;
   text-align: centers;
   width: 100%;
    border-radius:5px;
    border: none;
    margin-top: 30%;
}
.result button:hover{
   background-color: hsl(185, 41%, 84%) ;
}
.result .row{
    margin-left: 10px;
}

.result .price{
    font-size: 30px;
}

.perPerson{
    margin-top: 10px !important;
}

.half{
    width: 50% !important;
}
/*END OF RIGHT*/


.attribution { font-size: 11px; text-align: center; display: block; }
.attribution a { color: hsl(228, 45%, 44%); }

/* ICON IN INPUT*/
.input-icons img {
    position: absolute;
    display: block;
}
.input-icons {
    width: 100%;
    margin-bottom: 20px;
} 
.icon {
    padding: 10px;
    min-width: 20px;

}

/*END ICON IN INPUT*/


/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
    .result{
        background-color: hsl(183, 100%, 15%);
        padding: 30px;
        margin-left: 0px;
        border-radius:3%;
        width:100% !important;
        display: inline-block;
        height: auto;
    }
}
